*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --primary-color:#621a55;
}

body {
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background:white;
}

a {
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    width: 20%;
    height: auto;
    max-width: 100% ;
}

/* Navbar */
.navbar{
    background: #fff;
    padding: 20px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

.navbar ul li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color:var(--primary-color);
}

.navbar ul li:last-child a{
    margin-left: 20px;
}

/* 1st-section */
.landpage1{
    margin-bottom: 20px;
}

.landpage1 .container{
    background: url('img/bg-img.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}

.landpage1 .container .landpage1-content{
    width: 70%;
}


.landpage1 .container .landpage1-text{
    width: 70%;
    margin-bottom: 20px;
}

/* Projects */
.projects{
    padding: 50px 0;
    height: 100vh;
}

.projects .projects-heading{
    width: 700px;
    margin-bottom: 40px;
}

.projects .projects-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.signup {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.signup .title {
    text-align: center; 
    margin: auto;
    width: 100%;
}

.signup .title h1,
.signup .title p {
    margin: 0 0 10px 0; 
}


.signup .signup-form{
    position: relative;
    background: #decade;
    border-radius: 10px;
    width: calc(100% - 400px);
    padding: 60px 40px 20px;
}

.signup-form form{
    width: 100%;
}

.signup-form .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.signup-form .input30,
.signup-form .input50,
.signup-form .input100 {
    margin: 0 10px 10px 0;
}

.signup-form .input50 {
    width: calc(50% - 12px);
    flex-grow: 1;
}

.signup-form .input30 {
    width: calc(30% - 12px); 
    flex-grow: 1;
}

.signup-form .input100 {
    width: calc(100% - 12px);
}

.signup-form .row input,
.signup-form .row textarea,
.signup-form .row button {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.signup-form .row textarea {
    height: 150px;
}

.signup-form .row button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form .row button:hover {
    background-color: #A94064;
}
/* Utility Classes */
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 10px;
  }


/* Button */
.btn {
    background-color: #decade;
    display: inline-block;
    color: black;
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    color: var(--primary-color);
    display: inline-block;
    background: #fff;
    border: #621a55;
    border-width: 3px;
    border-style: solid;
}

.btn-dark{
    background:#333;
    color: #fff;
}

/* Text Classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height:1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 1.8rem;
    line-height:1.4;
    font-weight: normal;
    margin: 40px 0 20 px
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
  }
  
.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
  }
  
.text-center {
    text-align: center;
  }
  

.bg-black {
    background: #000;
    color: #fff;
}

/* Responsive adjustments for phones */
@media only screen and (max-width: 768px) {
    /* Adjustments for grid items */
    .projects .projects-grid {
        grid-template-columns: 1fr; 
    }

    /* Adjustments for signup area */
    .signup {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .signup .signup-form,
    .signup .title {
        width: 100%;
        padding: 20px 15px; 
        margin: 10px;
    }

    .signup-form .row {
        flex-direction: column;
    }

    .signup-form .input50,
    .signup-form .input30,
    .signup-form .input100 {
        width: 100%;
        margin-bottom: 10px;
    }

    .signup-form .row input,
    .signup-form .row button {
        width: 100%;
    }
}
